In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('city_display.csv')

In [3]:
df

     Unnamed: 0                                          city_page
0             0  {'display_name': 'Binong, Indonesia', 'id': '1...
1             1  {'display_name': 'Jakarta, Indonesia', 'id': '...
2             2  {'display_name': 'Jakarta, Indonesia', 'id': '...
3             3  {'display_name': 'Sukabumi', 'id': '1129790253...
4             4  {'display_name': 'Bekasi', 'id': '112413425436...
..          ...                                                ...
711         711  {'display_name': 'Jakarta, Indonesia', 'id': '...
712         712  {'display_name': 'Tangerang', 'id': '107978652...
713         713  {'display_name': 'Bekasi', 'id': '112413425436...
714         714  {'display_name': 'Tangerang', 'id': '107978652...
715         715  {'display_name': 'Jakarta, Indonesia', 'id': '...

[716 rows x 2 columns]

In [14]:
df.drop(df.columns[df.columns.str.contains('unnamed',case = False)],axis = 1, inplace = True)

In [17]:
df.to_csv('city_page.csv')

city_page    {'display_name': 'Jakarta, Indonesia', 'id': '...
Name: 1, dtype: object