In [18]:
import pandas as pd

In [20]:
df = pd.read_json('cleanedLocationV2.json')

In [5]:
df

,0,1,2,3,4,5,6,7,8,9,...,706,707,708,709,710,711,712,713,714,715
city,Tangerang Kabupaten,Jakarta Pusat,Jakarta Selatan,Sukabumi Kota,Bekasi Kota,Tangerang Kota,Jakarta Timur,Bogor Kabupaten,Bekasi Kota,Jakarta Pusat,...,Jakarta Barat,Bekasi Kabupaten,Bogor Kota,Tangerang Kota,Jakarta Pusat,Jakarta Timur,Tangerang Kota,Bekasi Kota,Tangerang Kota,Jakarta Pusat
state,,,,,,,,,,,...,,,,,,,,,,
city_page,"{'display_name': 'Binong, Indonesia', 'id': '1...","{'display_name': 'Jakarta, Indonesia', 'id': '...","{'display_name': 'Jakarta, Indonesia', 'id': '...","{'display_name': 'Sukabumi', 'id': '1129790253...","{'display_name': 'Bekasi', 'id': '112413425436...","{'display_name': 'Tangerang', 'id': '107978652...","{'display_name': 'Jakarta, Indonesia', 'id': '...","{'display_name': 'Klapanunggal, Jawa Barat, In...","{'display_name': 'Bekasi', 'id': '112413425436...","{'display_name': 'Jakarta, Indonesia', 'id': '...",...,"{'display_name': 'Jakarta, Indonesia', 'id': '...","{'display_name': 'Bekasi', 'id': '112413425436...","{'display_name': 'Bogor, Indonesia', 'id': '11...","{'display_name': 'Tangerang', 'id': '107978652...","{'display_name': 'Jakarta, Indonesia', 'id': '...","{'display_name': 'Jakarta, Indonesia', 'id': '...","{'display_name': 'Tangerang', 'id': '107978652...","{'display_name': 'Bekasi', 'id': '112413425436...","{'display_name': 'Tangerang', 'id': '107978652...","{'display_name': 'Jakarta, Indonesia', 'id': '..."

In [14]:
city = df.iloc[0]

In [15]:
city

0      Tangerang Kabupaten
1            Jakarta Pusat
2          Jakarta Selatan
3            Sukabumi Kota
4              Bekasi Kota
              ...
711          Jakarta Timur
712         Tangerang Kota
713            Bekasi Kota
714         Tangerang Kota
715          Jakarta Pusat
Name: city, Length: 716, dtype: object

In [17]:
city.to_json('city.json')

In [22]:
citypage = df.iloc[2]

In [23]:
citypage

0      {'display_name': 'Binong, Indonesia', 'id': '1...
1      {'display_name': 'Jakarta, Indonesia', 'id': '...
2      {'display_name': 'Jakarta, Indonesia', 'id': '...
3      {'display_name': 'Sukabumi', 'id': '1129790253...
4      {'display_name': 'Bekasi', 'id': '112413425436...
                             ...
711    {'display_name': 'Jakarta, Indonesia', 'id': '...
712    {'display_name': 'Tangerang', 'id': '107978652...
713    {'display_name': 'Bekasi', 'id': '112413425436...
714    {'display_name': 'Tangerang', 'id': '107978652...
715    {'display_name': 'Jakarta, Indonesia', 'id': '...
Name: city_page, Length: 716, dtype: object

In [24]:
citypage.to_json('citypage.json')